html,
body,
#scale {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

body {
    color: #fff;
    background: #ccc;
    font-family: sans-serif;
}

.marker {
    position: absolute;
    width: 100%;
    transition: 2s;
}

.marker span {
    position: relative;
    top: 0.25em;
    margin: 0.25em;
}

.marker.event {
    text-align: left;
    font-size: 1rem;
    height: 1px;
    color: #000;
    background-image: linear-gradient(to right, #000, transparent);
    opacity: 0.5;
}

.marker.prayer {
    text-align: right;
    height: 2px;
    background-image: linear-gradient(to left, #000, transparent);
}

.marker.prayer span {
    font-size: 1.2em;
}

.marker.prayer.past {
    color: #F00;
    opacity: 0.5;
}

.marker.prayer.current {
    color: #00ff00;
    font-weight: bold;
    text-shadow: 0 0 1em #000;
}

.marker.prayer.current span {
    font-size: 2rem;
}

.marker.prayer.future {
    color: #000;
    text-shadow: 0 0 0.5em #fff;
}

#pointer {
    position: absolute;
    width: 100%;
    top: 0;
    background-color: green;
    opacity: 0.5;
}

#pointer #time-now {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: left;
    font-size: 2em;
    font-weight: bold;
    text-shadow: 0 0 1em #000;
}
